/* nav */
nav {
    background: transparent;
    position: fixed;
    transition: .3s;
}
nav:hover{
    background: #000;
}
nav a {
    color: #eee;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
nav .row {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
nav .logo {
    font-size:32px;
    position: relative;
    bottom: 5px;
}
/* header */
header {
    background:url("../images/gogoro.jpg")no-repeat center center;
    background-size: cover;
    height: 800px;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    color: #fff;
    border-bottom: 6px solid #fff;
}
header h1 {
    font-weight: 100;
}
header h1 span {
    font-weight: 900;
}
header p {
    font-size: 18px;
    padding: 30px 0;
    letter-spacing: 3px;
}
header .btn {
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 25px;
    border-radius: 50px;
    letter-spacing: 3px;
    transition: .3s;
}
header .btn:hover {
    background-color: #fff;
    color: #111;
}
header .content {
    padding-bottom: 80px;
}
/* campaign */
#campaign {
    text-align: center;
}
#campaign .left {
    background: url("../images/campaign-1.png")no-repeat center center;
    height: 400px;
    background-size: cover;
    border-width: 0 3px 6px;
    border-color: #fff;
    border-style: solid; 
}
#campaign .center {
    background: url("../images/campaign-2.png")no-repeat center center;
    height: 400px;
    background-size: cover;
    border-width: 0 3px 6px;
    border-color: #fff;
    border-style: solid;
}
#campaign .right {
    background: url("../images/campaign-3.png")no-repeat center center;
    height: 400px;
    background-size: cover;
    border-width: 0 3px 6px;
    border-color: #fff;
    border-style: solid;
}
/* station */
#station {
    background-image: linear-gradient(240deg,#3cff00,#01ffdd);
    border-width: 0 3px 6px;
    border-color: #fff;
    border-style: solid;
}
#station .caption {
    padding-top: 80px;
    padding-left: 80px;
    color: #333;
}
#station .six {
    font-size: 24px;
    font-weight: 700;
}
#station .three {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
}
#station .number {
    font-size: 64px;
    font-weight: 100;
}
#station .content {
    font-size: 14px;
    line-height: 18px;
}
#station .battery {
    position: relative;
    bottom: -19px;
}